# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/*.map
dist/*.txt
dist/*.html
dist/service-worker*
dist/workbox-*
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore package lock files
package-lock.json
yarn.lock